
.page-wrapper .page-header {
  margin-left: 100px;
  width: calc(100% - 100px);
}
.page-wrapper .page-header {
    width: 100%;
    padding: 25px 30px;
    background-color: #fff;
}
.page-wrapper .page-header .search-header {
  position: relative;
}
.page-wrapper .page-header .search-header label {
  position: absolute;
  top: 47%;
  left: 10px;
  transform: translateY(-50%);
}
.page-wrapper .page-header .search-header .form-control {
  border: none;
  padding-left: 35px;
}
.page-wrapper .page-header .search-header .form-control::placeholder {
  color: #A6ACBE;
  font-size: 16px;
}
.page-wrapper .page-header .nav-left {
    display: flex;
    align-items: center;
}
.page-wrapper .page-header .nav-left .profile-nav {

    border-right: 1px solid #EFF4F6;
    padding-right: 30px;
}
.page-wrapper .page-header .nav-left .profile-nav .user-propfile {
    display: flex;
    align-items: center;
}

.page-wrapper .page-header .nav-left .profile-nav .user-propfile .user-img {

    margin-left: 15px;
}

.page-wrapper .page-header .nav-left .profile-nav .user-propfile .user-img .image {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.page-wrapper .page-header .nav-left .profile-nav .user-propfile .user-img .arrow {

    margin-left: 19px;
    padding: 10px;
    cursor: pointer;
}
.page-wrapper .page-header .nav-left .profile-nav .user-propfile span {

    font-size: 16px;
    font-weight: 600;
    font-family: 'Sarabun', sans-serif;
}
.page-wrapper .page-header .nav-left .profile-nav .user-propfile .user-name {

    margin: 0;
    color: #A6ACBE;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Sarabun', sans-serif;
}

.page-wrapper .page-header .nav-left .notification {

    padding-left: 27px;
    position: relative;
    cursor: pointer;
}
.page-wrapper .page-header .nav-left .notification .dot {

    display: block;
    background-color: #1F4698;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 1px;
}

.page-wrapper .page-header .nav-left .logout {

    padding-left: 27px;
}
.page-wrapper .page-header .nav-left .logout.mob-menu {

  display: none;
}